// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-main {
    background: $main-color;
}

.navbar {
    background: $main-color;
    padding: 0.75rem 0;
}

.logo {
    width: 150px;
}

.nav-link {
    background: #fff;
    border: 1px solid #fff;
    color: $main-color !important;
}

.nav-link:hover {
    background: $main-color;
    color: #fff !important;
}

.btn-main {
    border: 1px solid $main-color;
    color: $main-color;
}

.btn-main:hover {
    color: #fff;
    background: $main-color;
}

.btn-light {
    background: transparent;
    color: #fff !important;
}

.btn-light:hover {
    background: #fff;
    color: $main-color !important;
}

// header

.header--title {
    padding: 3rem 0;
    font-weight: bold;
    color: #fff;
    font-size: 3rem;
}

// footer

footer {
    text-align: center;
}

.footer-top {
    width: 100%;
    background: $main-color;
    padding: 0.5rem 0;
}

.footer-bottom {
    padding: 1rem 0;
}

// auth-form

.auth-form--title {
    font-size: 1.5rem;
    font-weight: bold;
}

// join

.join--title {
    color: #fff;
    font-weight: bold;
}

.join--title a {
    color: $second-color;
}

.join-info {
    color: #000;
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
}

.join-info--title {
    font-weight: bold;
    font-size: 1.5rem;
}

.join-info-list {
    //padding-left: 1.5rem;
}

.join-info-list--item {
    background: url('/img/svg/accept-check-success.svg') no-repeat left center;
    padding: 0.5rem 2rem;
}
